@tailwind base;
@tailwind components;
@tailwind utilities;

.radius1 {
    position: absolute;
    right: 0;
    top: 50px;
    width: 10em;
    height: 20em;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #8fee30	;
}

.radius2 {
    position: absolute;
    right: 0;
    top: 150px;
    width: 15em;
    height: 30em;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #7fff00;
}

.radius3 {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 15em;
    height: 30em;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background: #ffff00;
    overflow: hidden;
    overflow-y:hidden;  /*для вертикального*/
overflow-x:hidden;
}

body {
    background: #67cdee;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}